#type {
  text-align: center;
  color: skyblue;
  font-size: 300px;
  font-family: 'Lilita One', cursive;
}

@media screen and (max-width: 1000px) {
  #type {
    font-size: 200px;
  }
}

@media screen and (max-width: 768px) {
  #type {
    font-size: 100px;
  }
}
